<!-- energy-systems.hbs -->

<main>
<script>

</script>

  <h2>Energy Systems</h2>
    <div class="page-description">
      Manage the Energy Systems that we can assemble and sell.<br>
      The number available is based on current inventories of necessary parts.<br>
      From a system's details view, click edit to change elements like the description or parts necessary parts, or delete the system entirely. 
    </div> 

<div id="create-new-system">
      <button onclick="displayForm('energy-systems-create')">Create New System</button>
    </div>

    <div id="energy-systems-list">
      <form method="GET">
        <!-- table structure created with tablesgenerator.com-->
        <table id="energy-systems-table">
          <thead>
            <tr>
              {{#each data.[0]}}
              <th>{{@key}}</th>
              {{/each}}
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each data}}
            <tr>
              <td>{{this.ID}}</td>
              <td>{{this.Name}}</td>
              <td>{{this.Description}}</td>
              <td>{{this.Time}}</td>
              <td>{{this.Income}}</td>
              <td><button name="systemID" value="{{this.ID}}">Edit</button></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </form>
    </div>

    <div id="energy-systems-edit">
      <!-- table structure created with tablesgenerator.com-->
      <table id="es-edit-table">
      <form id="es-edit-form">
        <h2>
          Edit System Details
        </h2>
      
          <div class="form-buttons">
              <input type="submit" action="/">
              <button action="/">Cancel</button>
              <button onclick="confirmDelete('energy-systems-edit', 'energy-systems-details')">Delete</button>
          </div>

        <thead>
          <tr>
            {{#each data.[0]}}
              <th>{{@key}}</th>
            {{/each}}
            
          </tr>
        </thead>
        <tbody>
          

            {{#each data}}
            <tr>
              <td id="edit-system-id" data-systemID="{{this.ID}}">{{this.ID}}</td>
              <td><input type="text" id="edit-system-name" value="{{this.Name}}" /></td>
              <td><textarea id="edit-system-description" rows="4">{{this.Description}}</textarea></td>
              <td><input type="number" id="edit-install-time" value="{{this.Time}}" /></td>
              <td><input type="number" id="edit-customer-income" value="{{this.Income}}" /></td>
            </tr>
            {{/each}}
            
            <tr>
              <td colspan="5" >
                <div class="parts-checks">
                  {{#each parts}}
                  <div class="parts-check-item">
                    <input type="checkbox" name="edit-system-parts" value="{{this.partID}}" id="system-part-{{this.partID}}"
                    {{#checked this.checked}}{{/checked}} >
                      <label for="system-part-{{this.partID}}">{{this.partName}}</label>
                  </div>
                  {{/each}}
                </div>
              </td>
            </tr>

          </form>
        </tbody>
        </table>
    </div>

    <div id="energy-systems-create" class="hide-on-pageload">
      <h2>
        Create a New Energy System
      </h2>
      <!-- table structure created with tablesgenerator.com-->
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Install Time</th>
            <th>Customer Income</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <form id="es-add-form" >
            <tr>
              <td>
                <input type="text" name="input-systemName" id="input-systemName" required />
              </td>
              <td>
                <textarea rows="4" name="input-systemDescription" id="input-systemDescription"></textarea>
              </td>
              <td>
                <input type="number" name="input-estimatedInstallTime" id="input-estimatedInstallTime" />
              </td>
              <td>
                <input type="number" name="input-estimatedCustomerIncome" id="input-estimatedCustomerIncome" />
              </td>
              <td>
                <input type="submit">
                <!-- <button onclick="hideForm('energy-systems-create')">Cancel</button> -->
              </td>
            </tr>
            <tr>
              <td colspan="5" >
                <div class="parts-checks">
                  {{#each parts}}
                  <div>
                    <input 
                    type="checkbox" 
                    value="{{this.partID}}"
                    id="check-{{this.partID}}"
                    name="input-systemParts"
                    >
                      <label for="check-{{this.partID}}">{{this.partName}}</label>
                  </div>
                  {{/each}}
                </div>   
              </td>
            </tr>
          </form>
        </tbody>
      </table>
    </div>

<div>


</div>

<!-- Shows and hides forms as necessary -->
<script>
  if (pageQuery === '') {
    hideForm('energy-systems-edit');
  };
  if (pageQuery !== '') {
    hideForm('energy-systems-list');
    hideForm('create-new-system')
  }; 
</script>

<script src="./js/add_energy_system.js"></script>
<script src="./js/update_energy_system.js"></script>

</main>

