<header>
  {{> nav}}
</header>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<main>
  <h2>Parts Inventory</h2>
    <div class="page-description">
      View and add parts that we stock in our warehouses, and update their quantities as you ship and receive orders.
    </div> 

  <div id="page-options">
      <form class="db-filter" action="filter_by_category" onchange="this.form.submit();">
        <label>Filter by Category: </label>
        <select id="category">
          <option value="%">All</option>
          {{#each data}}
            <option value="{{this.categoryID}}">{{this.Category}}</option>
          {{/each}}
        </select>
      </form>

      <div class="new-part inline-buttons">
        <button onclick="displayForm('create-part')">Add New Part</button>
      </div>

    </div>

<table id="part-table">
  <thead>
    <tr>
      {{#each data.[0]}}
      <th>
        {{@key}}
      </th>
      {{/each}}
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr data-value={{this.ID}}>
        <td>{{this.ID}}</td>
        <td>{{this.Name}}</td>
        <td>{{this.Description}}</td>
        <td>{{this.Stock}}</td>
        <td>{{this.Cost}}</td>
        <td>{{this.Category}}</td>
        <td>{{this.Warehouse}}</td>
        <td><button onclick="displayForm('edit-part')">Update Stock</button></td>
        <td><button onclick="deletePart({{this.ID}})">Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>
<script src="./js/delete-part.js"></script>

<div id="edit-part" class="hide-on-pageload">
  <h2>Edit Part Details</h2>
  <!-- table structure created with tablesgenerator.com-->
    <form id="edit-part-form" method="POST" action="/edit-part-form">
      <label for="">Quantity: </label>
      <input type="number" name="input-stockTotal" id="input-stockTotal">
      
      <select name="input-partID" id="input-partID">
        <option selected disabled></option>
        {{#each data}}
          <option value="{{this.ID}}">{{this.Name}}</option>
        {{/each}}
      </select>

      <button onclick="hideForm('edit-part')">Save</button>
          
    </form>
  </table>
</div>

<div id="create-part" class="hide-on-pageload">
  <h2>Create New Part</h2>
  <!-- table structure created with tablesgenerator.com-->
  <table>
    <form id="add-part-form" method="POST" action="/add-part-form">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Initial Stock</th>
          <th>Cost</th>
          <th>Category</th>
          <th>Warehouse</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="text" name="input-partName" id="input-partName">
          </td>
          <td>
            <textarea name="input-partDescription" id="input-partDescription"></textarea>
          </td>
          <td>
            <input type="number" name="input-stockTotal" id="input-stockTotal">
          </td>
          <td>
            <input type="number" name="input-partCost" id="input-partCost">
          </td>
          <td>
            <select name="input-categoryID" id="input-categoryID">
              <option selected disabled></option>
              {{#each categories}}
                <option value="{{this.categoryID}}">{{this.categoryName}}</option>
              {{/each}}
            </select>
          </td>
          <td>
            <select name="input-warehouseID" id="input-warehouseID" required>
              <option selected disabled></option>
              {{#each warehouses}}
                <option value="{{this.ID}}">{{this.City}}</option>
              {{/each}}
            </select>
          </td>
          <td>
            <input type="submit" value="Save">
            <button onclick="hideForm('create-part')">Cancel</button>
          </td>
        </tr>
      </tbody>
    </form>
  </table>
</div>



</main>